*,
:after,
:before {
  -webkit-box-sizing: inherit;
  background-repeat: no-repeat;
  box-sizing: inherit;
}

.predictiveSearchContainer {
}
:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
}
body {
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-font-smoothing: antialiased; */
  background: #fff;
  margin: 0;
  min-width: 1200px;
}
hr {
  -webkit-box-sizing: content-box;
  border: 0;
  border-bottom: 1px solid #ef0000;
  box-sizing: content-box;
  clear: both;
  height: 0;
  max-width: 100%;
  overflow: visible;
  width: 100%;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio,
embed,
iframe,
img,
input,
object,
table,
video {
  max-width: 100%;
}
[tabindex],
a,
area,
button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
[hidden] {
  display: none;
}
[aria-busy='true'] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  margin: 0.64rem 0 1rem;
  text-rendering: optimizeLegibility;
}
.h1,
h1 {
  font-size: 1.95312rem;
  margin: 0 0 1rem;
}
.h2,
h2 {
  font-size: 1.5625rem;
}
.h3,
h3 {
  font-size: 1.25rem;
}
.h4,
h4 {
  font-size: 1rem;
}
.h5,
h5 {
  font-size: 0.8rem;
}
blockquote,
dl,
ol,
p,
ul {
  margin: 0.64rem 0 1rem;
}
dd {
  margin-left: 1rem;
}
ol,
ul {
  padding-left: 1rem;
}
ul {
  list-style-type: circle;
}
ul.list-flat {
  list-style: none;
  padding-left: 0;
}
ul.list-flat > li {
  display: inline-block;
}
ul.list-simple {
  list-style: none;
  padding-left: 0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
  color: #1e5787;
  cursor: pointer;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #1e5787;
}
a img {
  border: 0;
}
b,
strong {
  font-weight: inherit;
  font-weight: 800;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
.small,
small {
  font-size: 12px;
}
.large {
  font-size: 16px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type='checkbox'],
[type='file'],
[type='radio'] {
  margin: 0.64rem 0 1rem;
}
[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0.82rem;
  margin-right: 1.64rem;
  vertical-align: baseline;
}
[type='checkbox'] + label[for],
[type='radio'] + label[for] {
  cursor: pointer;
}
label > [type='checkbox'],
label > [type='radio'] {
  margin-right: 0.82rem;
}
[type='file'] {
  width: 100%;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  max-width: 100%;
}
.fieldset {
  border-bottom: 1px solid #b8b8b8;
  padding: 0.82rem 0;
}
.fieldset legend {
  margin: 0 0 0 -0.21429rem;
  padding: 0 0.21429rem;
}
.label,
label {
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 2.81857rem;
  margin: 0.64rem 0 1rem;
}
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
textarea {
  -moz-appearance: none;
  -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #333;
  display: block;
  height: 2.81857rem;
  margin: 0.64rem 0 1rem;
  padding: 0.82rem;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  width: 100%;
}
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
textarea:focus {
  -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-box-shadow: 0 0 5px #999;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  background-color: #fff;
  border: 1px solid #6b6b6b;
  box-shadow: 0 0 5px #999;
  outline: none;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}
textarea {
  max-width: 100%;
}
textarea[rows] {
  height: auto;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b8b8b8;
}
input:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #b8b8b8;
}
input::placeholder,
textarea::placeholder {
  color: #b8b8b8;
}
input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #b8b8b8;
  cursor: not-allowed;
}
[type='button'],
[type='submit'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
input[type='search'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
select {
  -moz-appearance: none;
  -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2861, 61, 61%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1.64rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  color: #333;
  height: 2.81857rem;
  margin: 0.64rem 0 1rem;
  padding: 0.82rem 2.46rem 0.82rem 0.82rem;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}
@media screen and (min-width: 0\0) {
  select {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');
  }
}
select:focus {
  -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-box-shadow: 0 0 5px #999;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  background-color: #fff;
  border: 1px solid #6b6b6b;
  box-shadow: 0 0 5px #999;
  outline: none;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}
select:disabled {
  background-color: #b8b8b8;
  cursor: not-allowed;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  background-image: none;
  height: auto;
}
.help-text {
  color: #3d3d3d;
  font-size: 0.85714rem;
  font-style: italic;
  margin-top: -0.32rem;
}
.is-invalid-input:not(:focus) {
  background-color: #fae3e6;
  border-color: #ef0000;
}
.is-invalid-input:not(:focus)::-webkit-input-placeholder {
  color: #ef0000;
}
.is-invalid-input:not(:focus):-ms-input-placeholder,
.is-invalid-input:not(:focus)::-ms-input-placeholder {
  color: #ef0000;
}
.is-invalid-input:not(:focus)::placeholder {
  color: #ef0000;
}
.error-text,
.is-invalid-label {
  color: #ef0000;
}
.error-text {
  font-size: 0.85714rem;
  font-style: italic;
  margin-top: -0.32rem;
}
.form-error {
  color: #670a15;
  display: none;
  margin-bottom: 1.64rem;
  margin-top: -0.82rem;
}
.form-error.is-visible {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.grid-container {
  margin: 0 auto;
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
  width: 100%;
}
.grid {
  -ms-flex-flow: row wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
}
.cell {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}
.cell.auto {
  -ms-flex: 1 1 0px;
  -webkit-box-flex: 1;
  flex: 1 1 0;
}
.cell.shrink {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.grid > .auto,
.grid > .shrink {
  width: auto;
}
.grid > .xsmall-1 {
  width: 8.33333%;
}
.grid > .xsmall-2 {
  width: 16.66667%;
}
.grid > .xsmall-3 {
  width: 25%;
}
.grid > .xsmall-4 {
  width: 33.33333%;
}
.grid > .xsmall-5 {
  width: 41.66667%;
}
.grid > .xsmall-6 {
  width: 50%;
}
.grid > .xsmall-7 {
  width: 58.33333%;
}
.grid > .xsmall-8 {
  width: 66.66667%;
}
.grid > .xsmall-9 {
  width: 75%;
}
.grid > .xsmall-10 {
  width: 83.33333%;
}
.grid > .xsmall-11 {
  width: 91.66667%;
}
.grid > .xsmall-12 {
  width: 100%;
}
.grid-margin-x {
  margin-left: -0.71429rem;
  margin-right: -0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-margin-x {
    margin-left: -0.35714rem;
    margin-right: -0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-margin-x {
    margin-left: -0.71429rem;
    margin-right: -0.71429rem;
  }
}
.grid-margin-x > .cell {
  margin-left: 0.71429rem;
  margin-right: 0.71429rem;
  width: calc(100% - 1.42857rem);
}
.grid-margin-x > .auto,
.grid-margin-x > .shrink {
  width: auto;
}
.grid-margin-x > .xsmall-1 {
  width: calc(8.33333% - 1.42857rem);
}
.grid-margin-x > .xsmall-2 {
  width: calc(16.66667% - 1.42857rem);
}
.grid-margin-x > .xsmall-3 {
  width: calc(25% - 1.42857rem);
}
.grid-margin-x > .xsmall-4 {
  width: calc(33.33333% - 1.42857rem);
}
.grid-margin-x > .xsmall-5 {
  width: calc(41.66667% - 1.42857rem);
}
.grid-margin-x > .xsmall-6 {
  width: calc(50% - 1.42857rem);
}
.grid-margin-x > .xsmall-7 {
  width: calc(58.33333% - 1.42857rem);
}
.grid-margin-x > .xsmall-8 {
  width: calc(66.66667% - 1.42857rem);
}
.grid-margin-x > .xsmall-9 {
  width: calc(75% - 1.42857rem);
}
.grid-margin-x > .xsmall-10 {
  width: calc(83.33333% - 1.42857rem);
}
.grid-margin-x > .xsmall-11 {
  width: calc(91.66667% - 1.42857rem);
}
.grid-margin-x > .xsmall-12 {
  width: calc(100% - 1.42857rem);
}
.grid-negative-margins {
  margin-left: -0.71429rem;
  margin-right: -0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-negative-margins {
    margin-left: -0.35714rem;
    margin-right: -0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-negative-margins {
    margin-left: -0.71429rem;
    margin-right: -0.71429rem;
  }
}
.grid-margin-top {
  margin-top: 0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-margin-top {
    margin-top: 0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-margin-top {
    margin-top: 0.71429rem;
  }
}
.grid-margin-bottom {
  margin-bottom: 0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-margin-bottom {
    margin-bottom: 0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-margin-bottom {
    margin-bottom: 0.71429rem;
  }
}
.grid-double-margin-top {
  margin-top: 1.42857rem;
}
@media screen and (min-width: 26.25em) {
  .grid-double-margin-top {
    margin-top: 0.71429rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-double-margin-top {
    margin-top: 1.42857rem;
  }
}
.grid-double-margin-bottom {
  margin-bottom: 1.42857rem;
}
@media screen and (min-width: 26.25em) {
  .grid-double-margin-bottom {
    margin-bottom: 0.71429rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-double-margin-bottom {
    margin-bottom: 1.42857rem;
  }
}
.grid {
  margin-left: -0.71429rem;
  margin-right: -0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid {
    margin-left: -0.35714rem;
    margin-right: -0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid {
    margin-left: -0.71429rem;
    margin-right: -0.71429rem;
  }
}
.grid-padding-x > .cell {
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-padding-x > .cell {
    padding-left: 0.35714rem;
    padding-right: 0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-padding-x > .cell {
    padding-left: 0.71429rem;
    padding-right: 0.71429rem;
  }
}
.grid-padding-y .grid-padding-y {
  margin-bottom: -0.71429rem;
  margin-top: -0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-padding-y .grid-padding-y {
    margin-bottom: -0.35714rem;
    margin-top: -0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-padding-y .grid-padding-y {
    margin-bottom: -0.71429rem;
    margin-top: -0.71429rem;
  }
}
.grid-padding-y > .cell {
  padding-bottom: 0.71429rem;
  padding-top: 0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-padding-y > .cell {
    padding-bottom: 0.35714rem;
    padding-top: 0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-padding-y > .cell {
    padding-bottom: 0.71429rem;
    padding-top: 0.71429rem;
  }
}
.xsmall-block-1 > .cell {
  width: 100%;
}
.xsmall-block-2 > .cell {
  width: 50%;
}
.xsmall-block-3 > .cell {
  width: 33.33333%;
}
.xsmall-block-4 > .cell {
  width: 25%;
}
.xsmall-block-5 > .cell {
  width: 20%;
}
.xsmall-block-6 > .cell {
  width: 16.66667%;
}
.xsmall-block-7 > .cell {
  width: 14.28571%;
}
.xsmall-block-8 > .cell {
  width: 12.5%;
}
.grid-margin-y .grid-margin-y {
  margin-bottom: -0.71429rem;
  margin-top: -0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-margin-y .grid-margin-y {
    margin-bottom: -0.35714rem;
    margin-top: -0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-margin-y .grid-margin-y {
    margin-bottom: -0.71429rem;
    margin-top: -0.71429rem;
  }
}
.grid-margin-y > .cell {
  margin-bottom: 0.71429rem;
  margin-top: 0.71429rem;
}
@media screen and (min-width: 26.25em) {
  .grid-margin-y > .cell {
    margin-bottom: 0.35714rem;
    margin-top: 0.35714rem;
  }
}
@media screen and (min-width: 48em) {
  .grid-margin-y > .cell {
    margin-bottom: 0.71429rem;
    margin-top: 0.71429rem;
  }
}
.grid-margin-x.xsmall-block-1 > .cell {
  width: calc(100% - 1.42857rem);
}
.grid-margin-x.xsmall-block-2 > .cell {
  width: calc(50% - 1.42857rem);
}
.grid-margin-x.xsmall-block-3 > .cell {
  width: calc(33.33333% - 1.42857rem);
}
.grid-margin-x.xsmall-block-4 > .cell {
  width: calc(25% - 1.42857rem);
}
.grid-margin-x.xsmall-block-5 > .cell {
  width: calc(20% - 1.42857rem);
}
.grid-margin-x.xsmall-block-6 > .cell {
  width: calc(16.66667% - 1.42857rem);
}
.grid-margin-x.xsmall-block-7 > .cell {
  width: calc(14.28571% - 1.42857rem);
}
.grid-margin-x.xsmall-block-8 > .cell {
  width: calc(12.5% - 1.42857rem);
}
.color-red {
  color: #ef0000;
}
.color-purple {
  color: #5f259f;
}
.color-yellow {
  color: #fdda24;
}
.color-orange {
  color: #fdc600;
}
.color-green {
  color: #c4d600;
}
.color-blue {
  color: #00e0ff;
}
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}
.color-text-dark-grey {
  color: #333;
}
.color-graphite {
  color: #4b5861;
}
.color-pre-text {
  color: #c8c8c8;
}
.color-dark-red {
  color: #670a15;
}
.color-dark-green {
  color: #05740b;
}
.color-dark-blue {
  color: #1e5787;
}
.color-highlight-blue {
  color: #2d8ad8;
}
.color-bright-blue {
  color: #01b1c2;
}
.color-pink {
  color: #fae3e6;
}
.color-light-green {
  color: #def5df;
}
.color-sky-blue {
  color: #e7f4f7;
}
.color-light-purple {
  color: #dddffb;
}
.color-light-orange {
  color: #fff1d0;
}
.color-cream {
  color: #fdf6eb;
}
.color-grey {
  color: #999;
}
.color-grey-tint-15 {
  color: #a8a8a8;
}
.color-grey-tint-30 {
  color: #b8b8b8;
}
.color-grey-tint-45 {
  color: #c7c7c7;
}
.color-grey-tint-60 {
  color: #d6d6d6;
}
.color-grey-shade-15 {
  color: #828282;
}
.color-grey-shade-30 {
  color: #6b6b6b;
}
.color-grey-shade-45 {
  color: #545454;
}
.color-grey-shade-60 {
  color: #3d3d3d;
}
.show-for-print {
  display: none !important;
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  .show-for-print {
    display: block !important;
  }
  .hide-for-print {
    display: none !important;
  }
  table.show-for-print {
    display: table !important;
  }
  thead.show-for-print {
    display: table-header-group !important;
  }
  tbody.show-for-print {
    display: table-row-group !important;
  }
  tr.show-for-print {
    display: table-row !important;
  }
  td.show-for-print,
  th.show-for-print {
    display: table-cell !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  blockquote,
  pre {
    border: 1px solid #d6d6d6;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .print-break-inside {
    page-break-inside: auto;
  }
}
/*# sourceMappingURL=sub.css.map */
