*, ::after, ::before { background-repeat: no-repeat; box-sizing: inherit; }

::before, ::after { text-decoration: inherit; vertical-align: inherit; }

html { box-sizing: border-box; color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 300; line-height: 1.25; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { background: #fff; margin: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

hr { border: 0; border-bottom: 1px solid #ef0000; box-sizing: content-box; clear: both; height: 0; max-width: 100%; overflow: visible; width: 100%; }

img { border-style: none; }

svg:not(:root) { overflow: hidden; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

audio, embed, iframe, img, input, object, video, table { max-width: 100%; }

a, area, button, input, label, select, textarea, [tabindex] { touch-action: manipulation; -ms-touch-action: manipulation; }

[hidden] { display: none; }

[aria-busy="true"] { cursor: progress; }

[aria-controls] { cursor: pointer; }

[aria-disabled] { cursor: default; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-weight: 400; line-height: 1.25; margin: 0.64rem 0 1rem; text-rendering: optimizeLegibility; }

h1, .h1 { font-size: 1.95312rem; margin: 0 0 1rem; }

h2, .h2 { font-size: 1.5625rem; }

h3, .h3 { font-size: 1.25rem; }

h4, .h4 { font-size: 1rem; }

h5, .h5 { font-size: 0.8rem; }

p, ul, ol, dl, blockquote { margin: 0.64rem 0 1rem; }

dd { margin-left: 1rem; }

ol, ul { padding-left: 1rem; }

ul { list-style-type: circle; }

ul.list-flat { list-style: none; padding-left: 0; }

ul.list-flat > li { display: inline-block; }

ul.list-simple { list-style: none; padding-left: 0; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; color: #2d8ad8; cursor: pointer; text-decoration: none; -webkit-text-decoration-skip: objects; }

a:hover, a:focus { color: #1e5787; }

a img { border: 0; }

b, strong { font-weight: inherit; }

b, strong { font-weight: 800; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

small, .small { font-size: 12px; }

.large { font-size: 16px; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.25; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; resize: vertical; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

[type="file"], [type="checkbox"], [type="radio"] { margin: 0.64rem 0 1rem; }

[type="checkbox"] + label, [type="radio"] + label { display: inline-block; vertical-align: baseline; margin-left: 0.82rem; margin-right: 1.64rem; margin-bottom: 0; }

[type="checkbox"] + label[for], [type="radio"] + label[for] { cursor: pointer; }

label > [type="checkbox"], label > [type="radio"] { margin-right: 0.82rem; }

[type="file"] { width: 100%; }

fieldset { margin: 0; padding: 0; border: 0; }

legend { max-width: 100%; }

.fieldset { padding: 0.82rem 0; border-bottom: 1px solid #b8b8b8; }

.fieldset legend { margin: 0; margin-left: -0.21429rem; padding: 0 0.21429rem; }

label, .label { display: block; margin: 0.64rem 0 1rem; font-weight: 400; line-height: 2.81857rem; color: #333; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], textarea { display: block; box-sizing: border-box; width: 100%; height: 2.81857rem; margin: 0.64rem 0 1rem; padding: 0.82rem; border: 1px solid #c7c7c7; border-radius: 0; background-color: #fff; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; appearance: none; }

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, textarea:focus { outline: none; border: 1px solid #6b6b6b; background-color: #fff; box-shadow: 0 0 5px #999; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea { max-width: 100%; }

textarea[rows] { height: auto; }

input::placeholder, textarea::placeholder { color: #b8b8b8; }

input:disabled, input[readonly], textarea:disabled, textarea[readonly] { background-color: #b8b8b8; cursor: not-allowed; }

[type="submit"], [type="button"] { appearance: none; border-radius: 0; }

input[type="search"] { box-sizing: border-box; }

select { height: 2.81857rem; margin: 0.64rem 0 1rem; padding: 0.82rem; appearance: none; border: 1px solid #c7c7c7; border-radius: 0; background-color: #fff; color: #333; background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%2861, 61, 61%29'></polygon></svg>"); background-origin: content-box; background-position: right -1.64rem center; background-repeat: no-repeat; background-size: 9px 6px; padding-right: 2.46rem; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

@media screen and (min-width: 0\0) { select { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }

select:focus { outline: none; border: 1px solid #6b6b6b; background-color: #fff; box-shadow: 0 0 5px #999; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

select:disabled { background-color: #b8b8b8; cursor: not-allowed; }

select::-ms-expand { display: none; }

select[multiple] { height: auto; background-image: none; }

.help-text { margin-top: -0.32rem; font-size: 0.85714rem; font-style: italic; color: #3d3d3d; }

.is-invalid-input:not(:focus) { border-color: #ef0000; background-color: #fae3e6; }

.is-invalid-input:not(:focus)::placeholder { color: #ef0000; }

.is-invalid-label { color: #ef0000; }

.error-text { margin-top: -0.32rem; font-size: 0.85714rem; font-style: italic; color: #ef0000; }

.form-error { display: none; margin-top: -0.82rem; margin-bottom: 1.64rem; color: #670a15; }

.form-error.is-visible { display: block; }

table { border-collapse: collapse; border-spacing: 0; }

.grid-container { padding-right: 0.35714rem; padding-left: 0.35714rem; width: 100%; margin: 0 auto; }

@media screen and (min-width: 26.25em) { .grid-container { padding-right: 0.35714rem; padding-left: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-container { padding-right: 0.71429rem; padding-left: 0.71429rem; } }

@media screen and (min-width: 64em) { .grid-container { padding-right: 0.71429rem; padding-left: 0.71429rem; width: 1004px; } }

@media screen and (min-width: 80em) { .grid-container { padding-right: 0.71429rem; padding-left: 0.71429rem; width: 1260px; } }

@media screen and (min-width: 100em) { .grid-container { padding-right: 0.71429rem; padding-left: 0.71429rem; width: 1580px; } }

@media screen and (min-width: 120em) { .grid-container { padding-right: 0.71429rem; padding-left: 0.71429rem; width: 1900px; } }

.grid { display: flex; flex-flow: row wrap; }

.cell { flex: 0 0 auto; min-height: 0; min-width: 0; width: 100%; }

.cell.auto { flex: 1 1 0; }

.cell.shrink { flex: 0 0 auto; }

.grid > .auto { width: auto; }

.grid > .shrink { width: auto; }

.grid > .xsmall-1 { width: 8.33333%; }

.grid > .xsmall-2 { width: 16.66667%; }

.grid > .xsmall-3 { width: 25%; }

.grid > .xsmall-4 { width: 33.33333%; }

.grid > .xsmall-5 { width: 41.66667%; }

.grid > .xsmall-6 { width: 50%; }

.grid > .xsmall-7 { width: 58.33333%; }

.grid > .xsmall-8 { width: 66.66667%; }

.grid > .xsmall-9 { width: 75%; }

.grid > .xsmall-10 { width: 83.33333%; }

.grid > .xsmall-11 { width: 91.66667%; }

.grid > .xsmall-12 { width: 100%; }

@media screen and (min-width: 26.25em) { .grid > .small-auto { flex: 1 1 0; width: auto; }
  .grid > .small-shrink { flex: 0 0 auto; width: auto; }
  .grid > .small-1 { width: 8.33333%; }
  .grid > .small-2 { width: 16.66667%; }
  .grid > .small-3 { width: 25%; }
  .grid > .small-4 { width: 33.33333%; }
  .grid > .small-5 { width: 41.66667%; }
  .grid > .small-6 { width: 50%; }
  .grid > .small-7 { width: 58.33333%; }
  .grid > .small-8 { width: 66.66667%; }
  .grid > .small-9 { width: 75%; }
  .grid > .small-10 { width: 83.33333%; }
  .grid > .small-11 { width: 91.66667%; }
  .grid > .small-12 { width: 100%; } }

@media screen and (min-width: 48em) { .grid > .medium-auto { flex: 1 1 0; width: auto; }
  .grid > .medium-shrink { flex: 0 0 auto; width: auto; }
  .grid > .medium-1 { width: 8.33333%; }
  .grid > .medium-2 { width: 16.66667%; }
  .grid > .medium-3 { width: 25%; }
  .grid > .medium-4 { width: 33.33333%; }
  .grid > .medium-5 { width: 41.66667%; }
  .grid > .medium-6 { width: 50%; }
  .grid > .medium-7 { width: 58.33333%; }
  .grid > .medium-8 { width: 66.66667%; }
  .grid > .medium-9 { width: 75%; }
  .grid > .medium-10 { width: 83.33333%; }
  .grid > .medium-11 { width: 91.66667%; }
  .grid > .medium-12 { width: 100%; } }

@media screen and (min-width: 64em) { .grid > .large-auto { flex: 1 1 0; width: auto; }
  .grid > .large-shrink { flex: 0 0 auto; width: auto; }
  .grid > .large-1 { width: 8.33333%; }
  .grid > .large-2 { width: 16.66667%; }
  .grid > .large-3 { width: 25%; }
  .grid > .large-4 { width: 33.33333%; }
  .grid > .large-5 { width: 41.66667%; }
  .grid > .large-6 { width: 50%; }
  .grid > .large-7 { width: 58.33333%; }
  .grid > .large-8 { width: 66.66667%; }
  .grid > .large-9 { width: 75%; }
  .grid > .large-10 { width: 83.33333%; }
  .grid > .large-11 { width: 91.66667%; }
  .grid > .large-12 { width: 100%; } }

@media screen and (min-width: 80em) { .grid > .xlarge-auto { flex: 1 1 0; width: auto; }
  .grid > .xlarge-shrink { flex: 0 0 auto; width: auto; }
  .grid > .xlarge-1 { width: 8.33333%; }
  .grid > .xlarge-2 { width: 16.66667%; }
  .grid > .xlarge-3 { width: 25%; }
  .grid > .xlarge-4 { width: 33.33333%; }
  .grid > .xlarge-5 { width: 41.66667%; }
  .grid > .xlarge-6 { width: 50%; }
  .grid > .xlarge-7 { width: 58.33333%; }
  .grid > .xlarge-8 { width: 66.66667%; }
  .grid > .xlarge-9 { width: 75%; }
  .grid > .xlarge-10 { width: 83.33333%; }
  .grid > .xlarge-11 { width: 91.66667%; }
  .grid > .xlarge-12 { width: 100%; } }

@media screen and (min-width: 100em) { .grid > .xxlarge-auto { flex: 1 1 0; width: auto; }
  .grid > .xxlarge-shrink { flex: 0 0 auto; width: auto; }
  .grid > .xxlarge-1 { width: 8.33333%; }
  .grid > .xxlarge-2 { width: 16.66667%; }
  .grid > .xxlarge-3 { width: 25%; }
  .grid > .xxlarge-4 { width: 33.33333%; }
  .grid > .xxlarge-5 { width: 41.66667%; }
  .grid > .xxlarge-6 { width: 50%; }
  .grid > .xxlarge-7 { width: 58.33333%; }
  .grid > .xxlarge-8 { width: 66.66667%; }
  .grid > .xxlarge-9 { width: 75%; }
  .grid > .xxlarge-10 { width: 83.33333%; }
  .grid > .xxlarge-11 { width: 91.66667%; }
  .grid > .xxlarge-12 { width: 100%; } }

@media screen and (min-width: 120em) { .grid > .xxxlarge-auto { flex: 1 1 0; width: auto; }
  .grid > .xxxlarge-shrink { flex: 0 0 auto; width: auto; }
  .grid > .xxxlarge-1 { width: 8.33333%; }
  .grid > .xxxlarge-2 { width: 16.66667%; }
  .grid > .xxxlarge-3 { width: 25%; }
  .grid > .xxxlarge-4 { width: 33.33333%; }
  .grid > .xxxlarge-5 { width: 41.66667%; }
  .grid > .xxxlarge-6 { width: 50%; }
  .grid > .xxxlarge-7 { width: 58.33333%; }
  .grid > .xxxlarge-8 { width: 66.66667%; }
  .grid > .xxxlarge-9 { width: 75%; }
  .grid > .xxxlarge-10 { width: 83.33333%; }
  .grid > .xxxlarge-11 { width: 91.66667%; }
  .grid > .xxxlarge-12 { width: 100%; } }

.grid-margin-x { margin-left: -0.35714rem; margin-right: -0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-margin-x { margin-left: -0.35714rem; margin-right: -0.35714rem; } }

@media screen and (min-width: 48em) { .grid-margin-x { margin-left: -0.71429rem; margin-right: -0.71429rem; } }

.grid-margin-x > .cell { width: calc(100% - 0.71429rem); margin-left: 0.35714rem; margin-right: 0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-margin-x > .cell { width: calc(100% - 0.71429rem); margin-left: 0.35714rem; margin-right: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-margin-x > .cell { width: calc(100% - 1.42857rem); margin-left: 0.71429rem; margin-right: 0.71429rem; } }

.grid-margin-x > .auto { width: auto; }

.grid-margin-x > .shrink { width: auto; }

.grid-margin-x > .xsmall-1 { width: calc(8.33333% - 0.71429rem); }

.grid-margin-x > .xsmall-2 { width: calc(16.66667% - 0.71429rem); }

.grid-margin-x > .xsmall-3 { width: calc(25% - 0.71429rem); }

.grid-margin-x > .xsmall-4 { width: calc(33.33333% - 0.71429rem); }

.grid-margin-x > .xsmall-5 { width: calc(41.66667% - 0.71429rem); }

.grid-margin-x > .xsmall-6 { width: calc(50% - 0.71429rem); }

.grid-margin-x > .xsmall-7 { width: calc(58.33333% - 0.71429rem); }

.grid-margin-x > .xsmall-8 { width: calc(66.66667% - 0.71429rem); }

.grid-margin-x > .xsmall-9 { width: calc(75% - 0.71429rem); }

.grid-margin-x > .xsmall-10 { width: calc(83.33333% - 0.71429rem); }

.grid-margin-x > .xsmall-11 { width: calc(91.66667% - 0.71429rem); }

.grid-margin-x > .xsmall-12 { width: calc(100% - 0.71429rem); }

@media screen and (min-width: 26.25em) { .grid-margin-x > .small-auto { width: auto; }
  .grid-margin-x > .small-shrink { width: auto; }
  .grid-margin-x > .small-1 { width: calc(8.33333% - 0.71429rem); }
  .grid-margin-x > .small-2 { width: calc(16.66667% - 0.71429rem); }
  .grid-margin-x > .small-3 { width: calc(25% - 0.71429rem); }
  .grid-margin-x > .small-4 { width: calc(33.33333% - 0.71429rem); }
  .grid-margin-x > .small-5 { width: calc(41.66667% - 0.71429rem); }
  .grid-margin-x > .small-6 { width: calc(50% - 0.71429rem); }
  .grid-margin-x > .small-7 { width: calc(58.33333% - 0.71429rem); }
  .grid-margin-x > .small-8 { width: calc(66.66667% - 0.71429rem); }
  .grid-margin-x > .small-9 { width: calc(75% - 0.71429rem); }
  .grid-margin-x > .small-10 { width: calc(83.33333% - 0.71429rem); }
  .grid-margin-x > .small-11 { width: calc(91.66667% - 0.71429rem); }
  .grid-margin-x > .small-12 { width: calc(100% - 0.71429rem); } }

@media screen and (min-width: 48em) { .grid-margin-x > .medium-auto { width: auto; }
  .grid-margin-x > .medium-shrink { width: auto; }
  .grid-margin-x > .medium-1 { width: calc(8.33333% - 1.42857rem); }
  .grid-margin-x > .medium-2 { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x > .medium-3 { width: calc(25% - 1.42857rem); }
  .grid-margin-x > .medium-4 { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x > .medium-5 { width: calc(41.66667% - 1.42857rem); }
  .grid-margin-x > .medium-6 { width: calc(50% - 1.42857rem); }
  .grid-margin-x > .medium-7 { width: calc(58.33333% - 1.42857rem); }
  .grid-margin-x > .medium-8 { width: calc(66.66667% - 1.42857rem); }
  .grid-margin-x > .medium-9 { width: calc(75% - 1.42857rem); }
  .grid-margin-x > .medium-10 { width: calc(83.33333% - 1.42857rem); }
  .grid-margin-x > .medium-11 { width: calc(91.66667% - 1.42857rem); }
  .grid-margin-x > .medium-12 { width: calc(100% - 1.42857rem); } }

@media screen and (min-width: 64em) { .grid-margin-x > .large-auto { width: auto; }
  .grid-margin-x > .large-shrink { width: auto; }
  .grid-margin-x > .large-1 { width: calc(8.33333% - 1.42857rem); }
  .grid-margin-x > .large-2 { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x > .large-3 { width: calc(25% - 1.42857rem); }
  .grid-margin-x > .large-4 { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x > .large-5 { width: calc(41.66667% - 1.42857rem); }
  .grid-margin-x > .large-6 { width: calc(50% - 1.42857rem); }
  .grid-margin-x > .large-7 { width: calc(58.33333% - 1.42857rem); }
  .grid-margin-x > .large-8 { width: calc(66.66667% - 1.42857rem); }
  .grid-margin-x > .large-9 { width: calc(75% - 1.42857rem); }
  .grid-margin-x > .large-10 { width: calc(83.33333% - 1.42857rem); }
  .grid-margin-x > .large-11 { width: calc(91.66667% - 1.42857rem); }
  .grid-margin-x > .large-12 { width: calc(100% - 1.42857rem); } }

@media screen and (min-width: 80em) { .grid-margin-x > .xlarge-auto { width: auto; }
  .grid-margin-x > .xlarge-shrink { width: auto; }
  .grid-margin-x > .xlarge-1 { width: calc(8.33333% - 1.42857rem); }
  .grid-margin-x > .xlarge-2 { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x > .xlarge-3 { width: calc(25% - 1.42857rem); }
  .grid-margin-x > .xlarge-4 { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x > .xlarge-5 { width: calc(41.66667% - 1.42857rem); }
  .grid-margin-x > .xlarge-6 { width: calc(50% - 1.42857rem); }
  .grid-margin-x > .xlarge-7 { width: calc(58.33333% - 1.42857rem); }
  .grid-margin-x > .xlarge-8 { width: calc(66.66667% - 1.42857rem); }
  .grid-margin-x > .xlarge-9 { width: calc(75% - 1.42857rem); }
  .grid-margin-x > .xlarge-10 { width: calc(83.33333% - 1.42857rem); }
  .grid-margin-x > .xlarge-11 { width: calc(91.66667% - 1.42857rem); }
  .grid-margin-x > .xlarge-12 { width: calc(100% - 1.42857rem); } }

@media screen and (min-width: 100em) { .grid-margin-x > .xxlarge-auto { width: auto; }
  .grid-margin-x > .xxlarge-shrink { width: auto; }
  .grid-margin-x > .xxlarge-1 { width: calc(8.33333% - 1.42857rem); }
  .grid-margin-x > .xxlarge-2 { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x > .xxlarge-3 { width: calc(25% - 1.42857rem); }
  .grid-margin-x > .xxlarge-4 { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x > .xxlarge-5 { width: calc(41.66667% - 1.42857rem); }
  .grid-margin-x > .xxlarge-6 { width: calc(50% - 1.42857rem); }
  .grid-margin-x > .xxlarge-7 { width: calc(58.33333% - 1.42857rem); }
  .grid-margin-x > .xxlarge-8 { width: calc(66.66667% - 1.42857rem); }
  .grid-margin-x > .xxlarge-9 { width: calc(75% - 1.42857rem); }
  .grid-margin-x > .xxlarge-10 { width: calc(83.33333% - 1.42857rem); }
  .grid-margin-x > .xxlarge-11 { width: calc(91.66667% - 1.42857rem); }
  .grid-margin-x > .xxlarge-12 { width: calc(100% - 1.42857rem); } }

@media screen and (min-width: 120em) { .grid-margin-x > .xxxlarge-auto { width: auto; }
  .grid-margin-x > .xxxlarge-shrink { width: auto; }
  .grid-margin-x > .xxxlarge-1 { width: calc(8.33333% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-2 { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-3 { width: calc(25% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-4 { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-5 { width: calc(41.66667% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-6 { width: calc(50% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-7 { width: calc(58.33333% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-8 { width: calc(66.66667% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-9 { width: calc(75% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-10 { width: calc(83.33333% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-11 { width: calc(91.66667% - 1.42857rem); }
  .grid-margin-x > .xxxlarge-12 { width: calc(100% - 1.42857rem); } }

.grid-margin-top { margin-top: 0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-margin-top { margin-top: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-margin-top { margin-top: 0.71429rem; } }

.grid-margin-bottom { margin-bottom: 0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-margin-bottom { margin-bottom: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-margin-bottom { margin-bottom: 0.71429rem; } }

.grid-double-margin-top { margin-top: 0.71429rem; }

@media screen and (min-width: 26.25em) { .grid-double-margin-top { margin-top: 0.71429rem; } }

@media screen and (min-width: 48em) { .grid-double-margin-top { margin-top: 1.42857rem; } }

.grid-double-margin-bottom { margin-bottom: 0.71429rem; }

@media screen and (min-width: 26.25em) { .grid-double-margin-bottom { margin-bottom: 0.71429rem; } }

@media screen and (min-width: 48em) { .grid-double-margin-bottom { margin-bottom: 1.42857rem; } }

.grid { margin-right: -0.35714rem; margin-left: -0.35714rem; }

@media screen and (min-width: 26.25em) { .grid { margin-right: -0.35714rem; margin-left: -0.35714rem; } }

@media screen and (min-width: 48em) { .grid { margin-right: -0.71429rem; margin-left: -0.71429rem; } }

.grid-padding-x > .cell { padding-right: 0.35714rem; padding-left: 0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-padding-x > .cell { padding-right: 0.35714rem; padding-left: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-padding-x > .cell { padding-right: 0.71429rem; padding-left: 0.71429rem; } }

.grid-padding-y .grid-padding-y { margin-top: -0.35714rem; margin-bottom: -0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-padding-y .grid-padding-y { margin-top: -0.35714rem; margin-bottom: -0.35714rem; } }

@media screen and (min-width: 48em) { .grid-padding-y .grid-padding-y { margin-top: -0.71429rem; margin-bottom: -0.71429rem; } }

.grid-padding-y > .cell { padding-top: 0.35714rem; padding-bottom: 0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-padding-y > .cell { padding-top: 0.35714rem; padding-bottom: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-padding-y > .cell { padding-top: 0.71429rem; padding-bottom: 0.71429rem; } }

.xsmall-block-1 > .cell { width: 100%; }

.xsmall-block-2 > .cell { width: 50%; }

.xsmall-block-3 > .cell { width: 33.33333%; }

.xsmall-block-4 > .cell { width: 25%; }

.xsmall-block-5 > .cell { width: 20%; }

.xsmall-block-6 > .cell { width: 16.66667%; }

.xsmall-block-7 > .cell { width: 14.28571%; }

.xsmall-block-8 > .cell { width: 12.5%; }

@media screen and (min-width: 26.25em) { .small-block-1 > .cell { width: 100%; }
  .small-block-2 > .cell { width: 50%; }
  .small-block-3 > .cell { width: 33.33333%; }
  .small-block-4 > .cell { width: 25%; }
  .small-block-5 > .cell { width: 20%; }
  .small-block-6 > .cell { width: 16.66667%; }
  .small-block-7 > .cell { width: 14.28571%; }
  .small-block-8 > .cell { width: 12.5%; } }

@media screen and (min-width: 48em) { .medium-block-1 > .cell { width: 100%; }
  .medium-block-2 > .cell { width: 50%; }
  .medium-block-3 > .cell { width: 33.33333%; }
  .medium-block-4 > .cell { width: 25%; }
  .medium-block-5 > .cell { width: 20%; }
  .medium-block-6 > .cell { width: 16.66667%; }
  .medium-block-7 > .cell { width: 14.28571%; }
  .medium-block-8 > .cell { width: 12.5%; } }

@media screen and (min-width: 64em) { .large-block-1 > .cell { width: 100%; }
  .large-block-2 > .cell { width: 50%; }
  .large-block-3 > .cell { width: 33.33333%; }
  .large-block-4 > .cell { width: 25%; }
  .large-block-5 > .cell { width: 20%; }
  .large-block-6 > .cell { width: 16.66667%; }
  .large-block-7 > .cell { width: 14.28571%; }
  .large-block-8 > .cell { width: 12.5%; } }

@media screen and (min-width: 80em) { .xlarge-block-1 > .cell { width: 100%; }
  .xlarge-block-2 > .cell { width: 50%; }
  .xlarge-block-3 > .cell { width: 33.33333%; }
  .xlarge-block-4 > .cell { width: 25%; }
  .xlarge-block-5 > .cell { width: 20%; }
  .xlarge-block-6 > .cell { width: 16.66667%; }
  .xlarge-block-7 > .cell { width: 14.28571%; }
  .xlarge-block-8 > .cell { width: 12.5%; } }

@media screen and (min-width: 100em) { .xxlarge-block-1 > .cell { width: 100%; }
  .xxlarge-block-2 > .cell { width: 50%; }
  .xxlarge-block-3 > .cell { width: 33.33333%; }
  .xxlarge-block-4 > .cell { width: 25%; }
  .xxlarge-block-5 > .cell { width: 20%; }
  .xxlarge-block-6 > .cell { width: 16.66667%; }
  .xxlarge-block-7 > .cell { width: 14.28571%; }
  .xxlarge-block-8 > .cell { width: 12.5%; } }

@media screen and (min-width: 120em) { .xxxlarge-block-1 > .cell { width: 100%; }
  .xxxlarge-block-2 > .cell { width: 50%; }
  .xxxlarge-block-3 > .cell { width: 33.33333%; }
  .xxxlarge-block-4 > .cell { width: 25%; }
  .xxxlarge-block-5 > .cell { width: 20%; }
  .xxxlarge-block-6 > .cell { width: 16.66667%; }
  .xxxlarge-block-7 > .cell { width: 14.28571%; }
  .xxxlarge-block-8 > .cell { width: 12.5%; } }

.grid-margin-y .grid-margin-y { margin-top: -0.35714rem; margin-bottom: -0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-margin-y .grid-margin-y { margin-top: -0.35714rem; margin-bottom: -0.35714rem; } }

@media screen and (min-width: 48em) { .grid-margin-y .grid-margin-y { margin-top: -0.71429rem; margin-bottom: -0.71429rem; } }

.grid-margin-y > .cell { margin-top: 0.35714rem; margin-bottom: 0.35714rem; }

@media screen and (min-width: 26.25em) { .grid-margin-y > .cell { margin-top: 0.35714rem; margin-bottom: 0.35714rem; } }

@media screen and (min-width: 48em) { .grid-margin-y > .cell { margin-top: 0.71429rem; margin-bottom: 0.71429rem; } }

.grid-margin-x.xsmall-block-1 > .cell { width: calc(100% - 0.71429rem); }

.grid-margin-x.xsmall-block-2 > .cell { width: calc(50% - 0.71429rem); }

.grid-margin-x.xsmall-block-3 > .cell { width: calc(33.33333% - 0.71429rem); }

.grid-margin-x.xsmall-block-4 > .cell { width: calc(25% - 0.71429rem); }

.grid-margin-x.xsmall-block-5 > .cell { width: calc(20% - 0.71429rem); }

.grid-margin-x.xsmall-block-6 > .cell { width: calc(16.66667% - 0.71429rem); }

.grid-margin-x.xsmall-block-7 > .cell { width: calc(14.28571% - 0.71429rem); }

.grid-margin-x.xsmall-block-8 > .cell { width: calc(12.5% - 0.71429rem); }

@media screen and (min-width: 26.25em) { .grid-margin-x.small-block-1 > .cell { width: calc(100% - 0.71429rem); }
  .grid-margin-x.small-block-2 > .cell { width: calc(50% - 0.71429rem); }
  .grid-margin-x.small-block-3 > .cell { width: calc(33.33333% - 0.71429rem); }
  .grid-margin-x.small-block-4 > .cell { width: calc(25% - 0.71429rem); }
  .grid-margin-x.small-block-5 > .cell { width: calc(20% - 0.71429rem); }
  .grid-margin-x.small-block-6 > .cell { width: calc(16.66667% - 0.71429rem); }
  .grid-margin-x.small-block-7 > .cell { width: calc(14.28571% - 0.71429rem); }
  .grid-margin-x.small-block-8 > .cell { width: calc(12.5% - 0.71429rem); } }

@media screen and (min-width: 48em) { .grid-margin-x.medium-block-1 > .cell { width: calc(100% - 1.42857rem); }
  .grid-margin-x.medium-block-2 > .cell { width: calc(50% - 1.42857rem); }
  .grid-margin-x.medium-block-3 > .cell { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x.medium-block-4 > .cell { width: calc(25% - 1.42857rem); }
  .grid-margin-x.medium-block-5 > .cell { width: calc(20% - 1.42857rem); }
  .grid-margin-x.medium-block-6 > .cell { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x.medium-block-7 > .cell { width: calc(14.28571% - 1.42857rem); }
  .grid-margin-x.medium-block-8 > .cell { width: calc(12.5% - 1.42857rem); } }

@media screen and (min-width: 64em) { .grid-margin-x.large-block-1 > .cell { width: calc(100% - 1.42857rem); }
  .grid-margin-x.large-block-2 > .cell { width: calc(50% - 1.42857rem); }
  .grid-margin-x.large-block-3 > .cell { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x.large-block-4 > .cell { width: calc(25% - 1.42857rem); }
  .grid-margin-x.large-block-5 > .cell { width: calc(20% - 1.42857rem); }
  .grid-margin-x.large-block-6 > .cell { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x.large-block-7 > .cell { width: calc(14.28571% - 1.42857rem); }
  .grid-margin-x.large-block-8 > .cell { width: calc(12.5% - 1.42857rem); } }

@media screen and (min-width: 80em) { .grid-margin-x.xlarge-block-1 > .cell { width: calc(100% - 1.42857rem); }
  .grid-margin-x.xlarge-block-2 > .cell { width: calc(50% - 1.42857rem); }
  .grid-margin-x.xlarge-block-3 > .cell { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x.xlarge-block-4 > .cell { width: calc(25% - 1.42857rem); }
  .grid-margin-x.xlarge-block-5 > .cell { width: calc(20% - 1.42857rem); }
  .grid-margin-x.xlarge-block-6 > .cell { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x.xlarge-block-7 > .cell { width: calc(14.28571% - 1.42857rem); }
  .grid-margin-x.xlarge-block-8 > .cell { width: calc(12.5% - 1.42857rem); } }

@media screen and (min-width: 100em) { .grid-margin-x.xxlarge-block-1 > .cell { width: calc(100% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-2 > .cell { width: calc(50% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-3 > .cell { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-4 > .cell { width: calc(25% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-5 > .cell { width: calc(20% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-6 > .cell { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-7 > .cell { width: calc(14.28571% - 1.42857rem); }
  .grid-margin-x.xxlarge-block-8 > .cell { width: calc(12.5% - 1.42857rem); } }

@media screen and (min-width: 120em) { .grid-margin-x.xxxlarge-block-1 > .cell { width: calc(100% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-2 > .cell { width: calc(50% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-3 > .cell { width: calc(33.33333% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-4 > .cell { width: calc(25% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-5 > .cell { width: calc(20% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-6 > .cell { width: calc(16.66667% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-7 > .cell { width: calc(14.28571% - 1.42857rem); }
  .grid-margin-x.xxxlarge-block-8 > .cell { width: calc(12.5% - 1.42857rem); } }

.color-red { color: #ef0000; }

.color-purple { color: #5f259f; }

.color-yellow { color: #fdda24; }

.color-orange { color: #fdc600; }

.color-green { color: #c4d600; }

.color-blue { color: #00e0ff; }

.color-black { color: #000; }

.color-white { color: #fff; }

.color-text-dark-grey { color: #333; }

.color-graphite { color: #4b5861; }

.color-pre-text { color: #c8c8c8; }

.color-dark-red { color: #670a15; }

.color-dark-green { color: #05740b; }

.color-dark-blue { color: #1e5787; }

.color-highlight-blue { color: #2d8ad8; }

.color-bright-blue { color: #01b1c2; }

.color-pink { color: #fae3e6; }

.color-light-green { color: #def5df; }

.color-sky-blue { color: #e7f4f7; }

.color-light-purple { color: #dddffb; }

.color-light-orange { color: #fff1d0; }

.color-cream { color: #fdf6eb; }

.color-grey { color: #999; }

.color-grey-tint-15 { color: #a8a8a8; }

.color-grey-tint-30 { color: #b8b8b8; }

.color-grey-tint-45 { color: #c7c7c7; }

.color-grey-tint-60 { color: #d6d6d6; }

.color-grey-shade-15 { color: #828282; }

.color-grey-shade-30 { color: #6b6b6b; }

.color-grey-shade-45 { color: #545454; }

.color-grey-shade-60 { color: #3d3d3d; }

.show-for-print { display: none !important; }

@media print { * { box-shadow: none !important; color: black !important; text-shadow: none !important; }
  .show-for-print { display: block !important; }
  .hide-for-print { display: none !important; }
  table.show-for-print { display: table !important; }
  thead.show-for-print { display: table-header-group !important; }
  tbody.show-for-print { display: table-row-group !important; }
  tr.show-for-print { display: table-row !important; }
  td.show-for-print { display: table-cell !important; }
  th.show-for-print { display: table-cell !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^='javascript:']:after, a[href^='#']:after { content: ''; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #d6d6d6; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .print-break-inside { page-break-inside: auto; } }
